*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    font-family: 'roboto';
}

a{
    color: black;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color:#99E2D0;

$background-1:rgba(221, 221, 221, 0.658);
$background-2:rgb(243, 243, 243);

@mixin bouton {
    color: white;
    border-radius: 50px;
    background: linear-gradient($secondary-color, $primary-color);
} 

@mixin bouton-hover {
    background: linear-gradient( 
        lighten( $primary-color,5%),
        lighten($secondary-color,5%)
        );
}

@mixin box-shadow {
    box-shadow: 0px 0px 18px rgb(199, 199, 199);
}

@mixin box-shadow-darken {
    box-shadow: 0px 0px 18px rgb(146, 143, 143);
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100%{transform: rotate(360deg);}    
}

@keyframes fondu-loader{
    0%{ opacity: 1;}

    100%{ 
        opacity: 0;
        z-index: -1;}
}

@keyframes fondu {
    0% { opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes recette{
    0% { left: 20%; }
    100%{ left:  0;}
}

@keyframes remplissage {
    0% { transform:scale(0);}
    100% {transform: scale(1);}
}
/* debut loader*/

.loader{
    display: flex ;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: fondu-loader 3s forwards;
    animation-iteration-count: 1;

    .chargement{
        position: relative;
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 6px solid transparent; 
        border-top-color: $primary-color; 
        border-bottom-color: $primary-color;
        animation: spin 0.7s linear infinite;
        &::after{
            content: "";
            position:absolute;
            top: 13px; 
            bottom: 13px;
            left: 13px; 
            right: 13px;
            width: 100px;
            height: 100px;
            border: 6px solid transparent;
            border-top-color: $secondary-color;
            border-bottom-color:$secondary-color ;
            border-radius: 50%;
            animation: spin 1.5s reverse linear infinite;
        }
    }

    p{
        display: none;
        font-family: 'shrikhand';
        font-size: 100px;
        margin-left: 30px;
    }
}

/*fin loader*/


/* page accueil*/

/*en tête*/     
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: $background-2;
    box-shadow: 0 0 14px;

    .icone{
        width: 250px;
    }
    .arrow{
        position: absolute;
        font-size: 30px;
        font-weight: bolder;
        left: 4%;
        top: 4.5%;
    }
}


/*localisation*/
.localisation{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $background-1;

    p{
        padding-left: 20px;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .position{
        font-size: 20px;
    }
}

/*explorer*/

.explorer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: $background-2;
    white-space:unset;

    h1{
        padding-bottom: 20px;
        font-size: 25px;
        font-weight: bolder;
        padding-right: 30px;
        padding-left: 30px;
    }

    p{
        font-size: 18px;
        padding-bottom: 50px;
        padding-left: 30px ;
        padding-right: 30px;
    }

    .explo{
        display: flex;
        justify-content: center;
    }

    .boutton{
        display: flex;
        justify-content: center;
        width: 230px;
        border: none;
        font-size: 16px;
        padding: 15px 25px 15px 25px;
        @include bouton();
        @include box-shadow();

        &:hover{
            @include bouton-hover();
            @include box-shadow-darken();

        }
    }
}

.fonctionnement{
    display: flex;
    flex-direction:column ;
    margin: 5%;
    padding-top: 30px;

    h2{
        font-weight: bolder;
    } 
    .choix{
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        &--element{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: none;
            border-radius: 25px;
            margin-top: 15px;
            padding-top: 30px;
            padding-bottom: 30px;
            background: $background-2;
            @include box-shadow();


            .numero{
                position:relative;
                background: $primary-color;
                border-radius: 50px;
                color: white;
                font-weight: lighter;
                font-size: 16px;
                padding: 6px 10px 6px 10px;
                left: -20px;
            }

            .icone{
                font-size: 20px;
                color: rgb(133, 125, 125);
                margin-right: 5%;
                padding-left: 3%;
            }

            .text{
                font-size: 18px;
                font-weight: bolder;
            }

            &:hover{
                @include  box-shadow-darken();

                .icone{ color: $primary-color;}
            }
        }
    }
}

/*restaurants*/
.restaurants{

    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 80px;
    padding-left: 5%;
    padding-top: 60px;

    background: $background-2;

    h2{
        font-size: 26px;
        font-weight: 900;
    }

    .selection{
        display: flex;
        flex-direction: column;

        .carte{
            display: flex;
            flex-direction: column;
            width: 95%;
            margin-top: 6%;
            background: #fff;
            border-radius: 25px;
            position: relative;
            @include box-shadow();


            &--image{
                width: 100%;
                height: 13rem;
                padding: 1px;
                object-fit: cover;
                border-radius: 25px 25px 0 0;
            }

            .sticker{
                display: block;
                position: absolute;
                right: 8%;
                top: 8%;
                color: darken($color: $third-color, $amount: 40%);
                font-weight: 600;
                background: $third-color;
                padding: 5px 12px 5px 12px;
                border-radius: 2px;
            }

            &--pied{
                display: flex; 
                justify-content: space-between;
                align-items: center;

            }

            &--text{
                padding: 3%;
            }
            .boite{
                overflow: hidden;
                position: relative;
                padding-right: 12%;
                height: 30px;
                width: 30px;

                .coeurs{
                    padding-bottom: 2%;
                    padding-right: 6%;
                    position: absolute;
                    font-size: 25px;         
                }
    
                .coeurs--pleins{
                    color: $primary-color;
                    position: absolute;
                    bottom: 3px;
                    transform: scale(0);
                    transform-origin: bottom;
                }

                &:hover{
                    .coeurs{
                        color: $primary-color;
                    }
                    .coeurs--pleins{
                    animation: remplissage 1.5s ;
                    transform: scale(1);
                    }
                }
            }


            &:hover{
                @include box-shadow-darken();

            }
        }
    }
}

/*pages menu*/

/*fond d'ecrand*/
.image-fond{
    width: 100%;
    height: 350px;
    object-fit: cover;

}

/*restaurants*/
.bordure{
    margin-top: -80px;
    padding-top: 10px;
    background-color: $background-2;
    position: relative;
    border-radius: 35px 35px 0 0;
}

.brochure{
    display: flex;
    flex-direction: column;
}
.nom-restaurant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 8%;

    h1{
        font-family: 'shrikhand';
        font-size:30px;
        font-weight: 400;
    }

    .boite{
        overflow: hidden;
        position: relative;
        padding-right: 12%;
        height: 30px;
        width: 30px;

        .coeurs{
            padding-bottom: 2%;
            padding-right: 6%;
            position: absolute;
            font-size: 25px;         
        }

        .coeurs--pleins{
            color: $primary-color;
            position: absolute;
            bottom: 0;
            transform: scale(0);
            transform-origin: bottom;
        }

        &:hover{
            .coeurs{
                color: $primary-color;
            }
            .coeurs--pleins{
            animation: remplissage 1.5s ;
            transform: scale(1);
            }
        }
    }

}



.menu{
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;

    .souligne{
        margin-top: 4px;
        margin-bottom: 8px;
        padding-top: 3px;
        background-color: $third-color;
        width: 50px;
    }

    h3{
        font-weight: 300;
    }

    .categorie{
        display: flex;
        flex-direction: column;

        .element{
            display: flex;
            width: 95%;
            height: 80px;
            margin-top: 15px ;
            background-color: #fff;
            border-radius: 20px;
            @include box-shadow();
            align-items: center;
            overflow: hidden;
            transition: all 0.3s linear 0s;
            right: 0;

            &--text{
                display: flex;
                flex-direction: column;
                width: 70%;
                padding-left: 3%;
                padding-right: 0;

                h3{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover{
                    width: 60%;
                }
            }

            &--prix{
                display: flex;
                width: 30%;
                justify-content: center;

            }

            &--check{
                display: none;   
                width: 0%;
                height: 100%;
                font-size: 25px;
                align-items: center;
                justify-content: center;
                border-radius:0 20px 20px 0  ;
                background: $third-color;             
                position: relative;



                &::before{
                    color: white;
                    animation: spin 1.5s  1;
                }

            }

            &:hover{

                @include box-shadow-darken();

                .element--text{
                    width: 60%;
                }

                .element--prix{
                    width: 20%;
                }

                .element--check{
                    display: flex;
                    width: 20%;
                    animation: recette 1s ;
                }
            }
            
        }

        .d1{
            animation: fondu 1s;
        }

        .d2{
            animation: fondu 1.6s;
        }

        .d3{ 
            animation: fondu 2.2s;
        }
        
        .d4{
            animation: fondu 2.8s;
        }
    }
}

.commander{
    width: 100%;
    padding-top: 45px;
    padding-bottom: 55px;
    align-items: center;
    justify-content: center;
    display: flex;


    &-boutton{
        font-size: 18px;
        @include bouton();
        @include box-shadow();
        padding: 15px 35px 15px 35px;

        &:hover{
            @include bouton-hover();
            @include box-shadow-darken();
        }
    }
}

/*footer*/

.footer{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 45px;
    padding-left: 5%;
    background: rgb(56, 56, 56);

    a{
        color: white;
    }

    &-logo{
        font-family: 'shrikhand';
        color: white;
        font-weight: 300;
        font-size: 22px;
    }

    &-lien{
        display: flex;
        flex-direction: column ;
        padding-top: 15px;

    }
    .lien{
        display: flex;
        margin-top: 7px;
        font-weight: normal;
        p{
            padding-left: 10px;
        }

    }

    .handshake{
        font-size: 11px;
    }



}

@media screen and (min-width: 600px) {
/* accueil*/

    /*fonctionnement*/

    .fonctionnement{
        display: flex;
        flex-direction:column ;
        margin: 5%;
        padding-top: 30px;

        h2{
            font-weight: bolder;
        } 
        .choix{
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            }
        
    }

    .fonctionnement{

        .choix{
            flex-direction: row;
            width: 100%;
            &--element{
                width: 31.5%;
                margin: 2%;
                
                .icone{
                    padding: 0;
                }


                .text{
                    font-size: 16px;
                    font-weight: bolder;
                }

            }
        }
    }

    /*restaurants*/
    .restaurants{

        .selection{
            flex-direction: row;
            flex-wrap: wrap;
            .carte{
                width: 40%;
                margin: 4%;
            }
        }
    }


    /*pages menu*/

    /*fond d'ecrand*/
    .image-fond{
        width: 100%;
        height: 350px;
        object-fit: cover;

    }

    /*restaurants*/

    .brochure{
        flex-direction: row;
    }
    .menu{
        width: 33%;
        padding-top: 5%;
        padding-left: 1%;
    }

}

@media screen and (min-width: 730px) {

/*loader*/
.loader {
    p{
    display: flex;
    }
}
}