@charset "UTF-8";
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-family: "roboto";
}

a {
  color: black;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fondu-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes fondu-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes fondu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fondu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* debut loader*/
.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  justify-content: center;
  align-items: center;
  z-index: 1;
  -webkit-animation: fondu-loader 3s forwards;
          animation: fondu-loader 3s forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader .chargement {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  -webkit-animation: spin 0.7s linear infinite;
          animation: spin 0.7s linear infinite;
}
.loader .chargement::after {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 13px;
  left: 13px;
  right: 13px;
  width: 100px;
  height: 100px;
  border: 6px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  animation: spin 1.5s reverse linear infinite;
}
.loader p {
  display: none;
  font-family: "shrikhand";
  font-size: 100px;
  margin-left: 30px;
}

/*fin loader*/
/* page accueil*/
/*en tête*/
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #f3f3f3;
  box-shadow: 0 0 14px;
}
.logo .icone {
  width: 250px;
}
.logo .arrow {
  position: absolute;
  font-size: 30px;
  font-weight: bolder;
  left: 4%;
  top: 4.5%;
}

/*localisation*/
.localisation {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(221, 221, 221, 0.658);
}
.localisation p {
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
.localisation .position {
  font-size: 20px;
}

/*explorer*/
.explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
  white-space: unset;
}
.explorer h1 {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bolder;
  padding-right: 30px;
  padding-left: 30px;
}
.explorer p {
  font-size: 18px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
.explorer .explo {
  display: flex;
  justify-content: center;
}
.explorer .boutton {
  display: flex;
  justify-content: center;
  width: 230px;
  border: none;
  font-size: 16px;
  padding: 15px 25px 15px 25px;
  color: white;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
}
.explorer .boutton:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  margin: 5%;
  padding-top: 30px;
}
.fonctionnement h2 {
  font-weight: bolder;
}
.fonctionnement .choix {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.fonctionnement .choix--element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  border-radius: 25px;
  margin-top: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #f3f3f3;
  box-shadow: 0px 0px 18px #c7c7c7;
}
.fonctionnement .choix--element .numero {
  position: relative;
  background: #9356DC;
  border-radius: 50px;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  padding: 6px 10px 6px 10px;
  left: -20px;
}
.fonctionnement .choix--element .icone {
  font-size: 20px;
  color: #857d7d;
  margin-right: 5%;
  padding-left: 3%;
}
.fonctionnement .choix--element .text {
  font-size: 18px;
  font-weight: bolder;
}
.fonctionnement .choix--element:hover {
  box-shadow: 0px 0px 18px #a3a3a3;
}
.fonctionnement .choix--element:hover .icone {
  color: #9356DC;
}

/*restaurants*/
.restaurants {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-top: 60px;
  background: #f3f3f3;
}
.restaurants h2 {
  font-size: 26px;
  font-weight: 900;
}
.restaurants .selection {
  display: flex;
  flex-direction: column;
}
.restaurants .selection .carte {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 6%;
  background: #fff;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 0px 18px #c7c7c7;
}
.restaurants .selection .carte--image {
  width: 100%;
  height: 13rem;
  padding: 1px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}
.restaurants .selection .carte .sticker {
  display: block;
  position: absolute;
  right: 8%;
  top: 8%;
  color: #278870;
  font-weight: 600;
  background: #99E2D0;
  padding: 5px 12px 5px 12px;
  border-radius: 2px;
}
.restaurants .selection .carte--pied {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .selection .carte--text {
  padding: 3%;
}
.restaurants .selection .carte .coeurs {
  padding-bottom: 2%;
  padding-right: 6%;
  font-size: 25px;
}
.restaurants .selection .carte .coeurs:hover {
  font-weight: bold;
  transition: all 1.3s linear 0s;
  color: #9356DC;
}
.restaurants .selection .carte:hover {
  box-shadow: 0px 0px 18px #a3a3a3;
}

/*pages menu*/
/*fond d'ecrand*/
.image-fond {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*restaurants*/
.bordure {
  margin-top: -80px;
  padding-top: 10px;
  background-color: #f3f3f3;
  position: relative;
  border-radius: 35px 35px 0 0;
}

.brochure {
  display: flex;
  flex-direction: column;
}

.nom-restaurant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 8%;
}
.nom-restaurant h1 {
  font-family: "shrikhand";
  font-size: 30px;
  font-weight: 400;
}
.nom-restaurant .coeurs {
  font-size: 25px;
}

.menu {
  padding-top: 5%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}
.menu .souligne {
  margin-top: 4px;
  margin-bottom: 8px;
  padding-top: 3px;
  background-color: #99E2D0;
  width: 50px;
}
.menu h3 {
  font-weight: 300;
}
.menu .categorie {
  display: flex;
  flex-direction: column;
}
.menu .categorie .element {
  display: flex;
  width: 95%;
  height: 80px;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 18px #c7c7c7;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s linear 0s;
  right: 0;
}
.menu .categorie .element--text {
  display: flex;
  flex-direction: column;
  width: 70%;
  white-space: nowrap;
  padding-left: 3%;
  padding-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .categorie .element--text:hover {
  width: 60%;
}
.menu .categorie .element--prix {
  display: flex;
  width: 30%;
  justify-content: center;
}
.menu .categorie .element--check {
  display: none;
  width: 0%;
  height: 100%;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background: #99E2D0;
  position: relative;
  transition: all 3s linear 0s;
}
.menu .categorie .element--check::before {
  color: white;
  -webkit-animation: spin 0.8s ease-out 1;
          animation: spin 0.8s ease-out 1;
}
.menu .categorie .element:hover {
  box-shadow: 0px 0px 18px #a3a3a3;
}
.menu .categorie .element:hover .element--text {
  width: 60%;
}
.menu .categorie .element:hover .element--prix {
  width: 20%;
}
.menu .categorie .element:hover .element--check {
  display: flex;
  width: 20%;
}
.menu .categorie .d1 {
  -webkit-animation: fondu 1s;
          animation: fondu 1s;
}
.menu .categorie .d2 {
  -webkit-animation: fondu 1.6s;
          animation: fondu 1.6s;
}
.menu .categorie .d3 {
  -webkit-animation: fondu 2.2s;
          animation: fondu 2.2s;
}
.menu .categorie .d4 {
  -webkit-animation: fondu 2.8s;
          animation: fondu 2.8s;
}

.commander {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 55px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.commander-boutton {
  font-size: 18px;
  color: white;
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 35px 15px 35px;
}
.commander-boutton:hover {
  background: linear-gradient(#9356DC, #FF79DA);
}

/*footer*/
.footer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 45px;
  padding-left: 5%;
  background: #202020;
}
.footer a {
  color: white;
}
.footer-logo {
  font-family: "shrikhand";
  color: white;
  font-weight: 300;
  font-size: 22px;
}
.footer-lien {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.footer .lien {
  display: flex;
  margin-top: 7px;
  font-weight: normal;
}
.footer .lien p {
  padding-left: 10px;
}
.footer .handshake {
  font-size: 11px;
}

@media screen and (min-width: 600px) {
  /* accueil*/
  .loader p {
    display: flex;
  }

  /*fonctionnement*/
  .fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 5%;
    padding-top: 30px;
  }
  .fonctionnement h2 {
    font-weight: bolder;
  }
  .fonctionnement .choix {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .fonctionnement .choix {
    flex-direction: row;
    width: 100%;
  }
  .fonctionnement .choix--element {
    width: 31.5%;
    margin: 2%;
  }
  .fonctionnement .choix--element .icone {
    padding: 0;
  }
  .fonctionnement .choix--element .text {
    font-size: 16px;
    font-weight: bolder;
  }

  /*restaurants*/
  .restaurants .selection {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .selection .carte {
    width: 40%;
    margin: 4%;
  }

  /*pages menu*/
  /*fond d'ecrand*/
  .image-fond {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  /*restaurants*/
  .brochure {
    display: flex;
  }

  .menu {
    width: 33%;
    padding-top: 5%;
    padding-left: 1%;
  }
}/*# sourceMappingURL=style.css.map */